.activityDetails {
    flex-direction: column;
    
    .activityMembers {
        min-height: 20rem;
        margin-top: 1rem;
        align-items: flex-start;
        text-align: start;

        h2 {
            font-size: calc(1.1rem + 1vw);
        }
    }
}