.volunteerCard {
    width: 100%;
    min-width: 190px;
    max-width: 450px;
    height: fit-content;
    
    img {
        border-radius: 50%;
        margin-bottom: 0.9rem;
        width: 100%;
        object-fit: contain;
    }
}