.footer {
    width: 100%;
    height: fit-content;
    padding: 2rem 2rem 4rem 2rem;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    & > * {
        width: fit-content;
        min-width: 200px;
        max-width: 350px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        text-align: start;
        h4, h5 {
            width: 100%;
        }
        ul {
            width: 100%;
            li {
                width: 100%;
            }
        }
    }
    & > *:not(:first-child) {
        margin-top: 1.2rem;
    }
}