.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    & > *:first-child {
        width: 35%;
        min-width: 180px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;

        h6 {
            font-weight: 100;
        }
        & > *:nth-child(2) {
            align-items: flex-start;
        }
    }
    .form {
        width: 55%;
        max-width: 520px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;

        & > *:not(:last-child) {
            min-width: 100%;
            margin-bottom: 1rem;
        }
        & > *:last-child {
            margin-left: auto;
        }
        .wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            & > * {
                width: 48%;
            }
        }
    }
}

/* tablet */

.container.tablet {
    & > * {
        width: 34%;
        max-width: 560px;
    }
    .form {
        width: 50%;
    }
}

/* mobile */

.container.mobile {

    margin: 0;
    padding: 0;

    & > * {
        width: 100%;

        & > *:nth-child(2) {
            margin-bottom: 0.7rem;
        }
    }
}