* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > *:not(:last-child) {
    max-width: 1350px;
  }
  & > *:not(:first-child):not(:last-child) {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    padding: 1rem 2rem;
    
    display: flex;
  }
}

body, html {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

h1 {
  font-size: 2.7rem;
  font-weight: 800;
}

h2 {
  font-size: calc(1.6rem + 1vw);
  line-height: calc(1.6rem + 1vw);
  font-weight: 800;
}

h3 {
  font-size: calc(0.85rem + 0.5vw);
  font-weight: 600;
}

h4 {
  font-size: calc(0.7rem + 0.5vw);
  font-weight: 600;
}

h5 {
  font-size: 0.9rem;
  font-weight: 100;
}

p {
  font-size: calc(0.65rem + 0.4vw);
}

li {
  list-style-type: none;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}
