.volunteerDetails {
    flex-direction: column;

    .volunteerContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        img {
            width: 30%;
            min-height: 20rem;
            border-radius: 50%;
            object-fit: cover;
        }
        .info {
            width: 60%;
            min-height: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            text-align: start;

            .wrapper {
                height: fit-content;
                margin: 0.5rem 0;

                & > *:last-child {
                    height: fit-content;
                    align-items: flex-start;
                    margin-bottom: 1rem;
                }
                h6 {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-weight: 100;
                    color: #9C9C9C;
                    font-size: calc(0.6rem + 0.3vw);

                    & > *:last-child {
                        margin-right: 0.7rem;
                    }
                }
            }
        }
    }
    & > *:nth-child(2) {
        margin-top: 4rem;
        align-items: flex-start;
        text-align: start;

        h2 {
            font-size: calc(1.1rem + 1vw);
        }
    }
    .volunteerRatings {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        .rateVolunteer {
            width: 30%;
        }
        .ratings {
            width: 60%;
        }
    }
}